# --- Frontend (Vite) ---
VITE_API_URL=https://stub.practicum-team.ru/api/afisha
VITE_CDN_URL=https://stub.practicum-team.ru/content/afisha

# --- Backend (Nest.js + PostgreSQL) ---
DATABASE_DRIVER="postgres"
DATABASE_URL="postgres://localhost:5432/exampledb"
DATABASE_USERNAME="exampleuser"
DATABASE_PASSWORD="examplepass"
PORT=3000