# --- Docker Compose (production) ---
GITHUB_REPO=pokimoshka/film-react-nest

DATABASE_DRIVER=postgres
DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD=change_me_in_prod
DATABASE_NAME=exampledb

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me_in_prod

LOG_FORMAT=json