# --- Docker Compose ---
# Репозиторий в GHCR: <owner>/<repo>. Например, Pokimoshka/film-react-nest
GITHUB_REPO=Pokimoshka/film-react-nest

# PostgreSQL
DATABASE_DRIVER=postgres
DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD=examplepass
DATABASE_NAME=exampledb

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin

# Логи бэкенда: dev | json | tskv
LOG_FORMAT=dev